*{
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
}


body {
    width: 1440px;
    height: 900px;
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #996DFF;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    font-family: 'Sora', sans-serif;


}

h1 {
    

    margin: 0;
    color: var(--colors-base-grey-1, #D9D9D9);
    font-family: Sora;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */

    color: var(--colors-base-grey-1, #D9D9D9);
    font-family: Sora;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
   
}


#question{
    color: var(--colors-base-grey-1, #D9D9D9);
    text-align: center;
    font-family: Sora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    margin-top: 50px;
    
   
   
}
 
#score {
    display: flex;
    width: 83px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    margin-left: 900px;
   margin-top: -90px;
 
   
    border-radius: 8px;
    border: 1px solid var(--colors-green-light, #ABF770);
    background: var(--colors-base-grey-4, #1D2330);
    color: var(--colors-base-grey-1, #D9D9D9);

    color: var(--colors-green-light, #ABF770);
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 22px */
    
   
    
}
.header-container {

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-top: 80px;
}




.quiz-container {
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 786px;
    flex-shrink: 0;
   

    

    border-radius: 8px;
    background: var(--colors-base-grey-6, #161A24);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   
    

   
    
}
.card,.card1, .card2{
    
    
    width: 250px;
    height: 300px;

    padding: 46px 32px;
    margin-left: 108px;
    margin-top: 90px;


    align-items: flex-start;

    gap: 46px;
    
  
    border-radius: 8px;
    border-top: 3.194px solid var(--colors-base-grey-3, #252C3A);
    border-right: 3.194px solid var(--colors-base-grey-3, #252C3A);
    border-bottom: 6.387px solid var(--colors-base-grey-3, #252C3A);
    border-left: 3.194px solid var(--colors-base-grey-3, #252C3A);
    background: var(--colors-base-grey-4, #1D2330);
    color: var(--colors-base-grey-1, #D9D9D9);
    
    font-size: 20px;

    justify-items: center;
    justify-self: flex-start;
    position: absolute;
   
    cursor: pointer;
 
   
    
}
.card{
    margin-top: 306px;
    margin-bottom: 180px;
    margin-left: 108px;
    margin-right: 702px;
}

.card1{
    margin-top: 306px;
    margin-bottom: 180px;
    margin-left: 404px;
    margin-right: 406px;
}
.card2{
    margin-top: 306px;
    margin-bottom: 180px;
    margin-left: 700px;
    margin-right: 110px;
}



.card:active,
.card1:active,
.card2:active {
    background-color: #1d2330;
}

.clicked {
    border: 8px solid #f77070; /* Cor da borda para "card" e "card1" ao serem clicados */
}

#livro.clicked {
    border: 8px solid #abf770; /* Cor da borda para "card2" ao ser clicado */
}





img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


#vetor{
    width: 25px;
    position: static;
    margin: 0px 1065px;
    text-align: end;
    
}




ul {
    list-style: none;
    padding: 0;
    font-family:  'Sora', sans-serif; 

    
}




li {
    margin: auto;
}



 


 