* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
   
  }

.newsletter{
  position: static;
  top: 500px;
}

body{
 


    width: 100%;
    height: 100vh;
    left: 80px;
    top: 328px;

    background: #09090A;
}
.newsletter{
  margin-top: 160px;
  margin-left: 60px;
}

h1{
    
    width: 482px;
    height: 48px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;

    color: #FFFFFF;


}


h2{
    width: 218px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight:bold;
    font-size: 16px;
    
    background: linear-gradient(90deg, #996DFF 0%, #C7AFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    

    flex: none;
    order: 0;
    flex-grow: 0; 
}

p{
    width: 445px;
    height: 56px;

 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    color: #C4C4CC;

    flex: none;
    order: 1;
    flex-grow: 0;

}


#email{
    padding: 16px 12px;


    width: 291px;
    height: 58px;

    background: #202024;
    border-radius: 10px;
    border: none;

    flex: none;
    order: 0;
    flex-grow: 0;

    margin-top: 42px;
    color: #e3e1e7;
    
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 15px;


}


::placeholder{
    width: 267px;
height: 26px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;

color: #C4C4CC;

flex: none;
order: 1;
flex-grow: 1;

}
#button{
padding: 16px;
gap: 8px;

width: 169px;

height: 58px;

background: linear-gradient(90deg, #996DFF 0%, #C7AFFF 100%);
border-radius: 10px;
border: none;

margin-left: 300px;
top: 350px; 
position: absolute;

   

font-weight: bold;
font-size: 15px;
font-family: 'Roboto';

cursor: pointer;


}


#fundo{



top: 0px;
padding: 0px;
gap: 41.63px;

position: absolute;
width: 874.24px;
height: 1000.65px;
left: 710px;



}

  
  .titulo {
    font-size: 18px; 
    line-height: 28px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1); 
    margin-top: 16px;
    
    font-family: 'Roboto';
  }
  
  .texto {
    color: var(--colors-gray-gray-200, #C4C4CC);

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight:  bold;
    line-height: 20px; 

 
  }
  .icones{
    margin-top: 80px;
    margin-left: 60px;
    
    align-content: space-between;

  }

  #presente,
  #foguete,
  #raio,
  #ferramenta {
   
      width: 48px;
      height: 48px;
  }

  .raio{
    position: absolute;
    margin-left: 350px;
    margin-top: -150px;
  }
  
  .ferramenta{
    position: absolute;
    margin-left: 650px;
    margin-top: -150px;
  }
 
  .presente{
    position: absolute;
    margin-left: 1000px;
    margin-top: -150px;
  }

 